@use "assets/scss/config/variables" as var;
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
  font-family: "Noto Sans Japanese", sans-serif;
  background: var.$SECONDARY100;
  margin: 0;
  padding: 0;
}
